.page-container {
  display: grid;
  grid-template-rows: auto 1fr;

  & > .content-area {
    display: grid;
    grid-template-rows: auto 1fr;
    align-self: stretch;
    width: 100%;

    & > .content-area-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.5rem 1.5rem;
      position: relative;
    }
  }

  & > .header {
    & > .nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 4.5rem;
      width: 100%;
      padding: 0 1.5rem;
      background-image: var(--gradient-pattern);
    }

    & > .menu-backdrop {
      background-color: rgba(0, 0, 0, 0.5);
      position: fixed;
      top: 4.5rem;
      left: 0;
      bottom: 0;
      width: 25%;
      opacity: 0;
      transform: translateX(-100%);
      transition: opacity 150ms 75ms cubic-bezier(0.4, 0, 0.2, 1);

      &.visible {
        transform: translateX(0);
        opacity: 100;
      }
    }

    & > .menu {
      display: grid;
      align-content: flex-start;
      gap: 1.5rem;
      position: fixed;
      top: 4.5rem;
      bottom: 0;
      right: 0;
      width: 75%;
      transform: translateX(100%);
      z-index: 10;
      padding: 1.5rem;
      transition: transform 150ms cubic-bezier(0.4, 0, 0.2, 1);

      &.visible {
        transform: translateX(0%);
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .page-container {
    padding: 3.5rem 2.5rem;

    & > .header {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 0.625rem;

      & > .nav {
        border-radius: 0.625rem;
        align-items: flex-end;
        height: 100%;
        padding-bottom: 1.5rem;
      }

      & > .menu-backdrop {
        display: none;
      }

      & > .menu {
        grid-template-columns: repeat(2, 1fr);
        gap: 0.625rem;
        grid-column: span 2 / span 2;
        position: static;
        transform: translateX(0%);
        z-index: 1;
        padding: 0;
        width: 100%;
      }
    }

    & > .content-area {
      & > .content-area-header {
        padding: 0.875rem 1.5rem;
        margin-top: 2.5rem;
        border-radius: 0.625rem;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .page-container {
    grid-template-rows: 1fr;
    grid-template-columns: auto 1fr;
    column-gap: 1.875rem;
    align-items: flex-start;

    & > .header {
      grid-template-columns: 1fr;
      row-gap: 1.5rem;
      column-gap: 0;
      max-width: 15.9375rem;
      position: sticky;
      top: 3.5rem;

      & > .nav {
        height: 11.125rem;
        width: 100%;
      }

      & > .menu {
        grid-template-columns: 1fr;
        row-gap: 1.5rem;
      }
    }

    & > .content-area {
      & > .content-area-header {
        margin-top: 0;
      }
    }
  }
}
